<%= simple_form_for @message do |f| %>
  <%= f.input :title, label: "Message", class: 'form-control' %>
  <%= f.input :description, class: 'form-control' %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>