<% @messages.each do |message| %>
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="message">
        <h2 class="message-title"><%= message.title %></h2>
        <%= link_to 'join convo', message, class: 'badge rounded-pill text-bg-warning' %>
      </div>
    </div>
  </div>
<% end %>
