<div class="row">
  <div class="offset-md-1 col-md-10">
    <div class="message-show">
      <h2><%= @message.title %></h2>
      <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %> ago</p>
      <p class="message-desc"><%= @message.description %></p>
      <div class="links btn-group mb-5">
        <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
        <% if user_signed_in? && current_user.id == @message.user_id %>
          <%= link_to 'Fix', edit_message_path(@message), class: 'btn btn-warning' %>
          <%= link_to 'Delete', message_path(@message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>

      <h3 class="comments-section-header">Comments:</h3>
      <p><%= render @message.comments.includes(:user) %></p>
      <h3 class="reply-to-msg">Join Discussion:</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>