<div class="comment">
  <p class="comment-content"><%= comment.content %></p>
  <p class="comment-posted-by">By: <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago</p>
  <div class="links">
    <% if user_signed_in? && current_user.id == comment.user_id %>
      <%= link_to 'Edit', edit_message_comment_path(comment.message, comment), class: 'btn btn-warning' %>
      <%= link_to 'delete', message_comment_path(comment.message, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>