<h1>Edit Comment</h1>
<%= simple_form_for([@message, @comment]) do |f| %>
  <%= f.input :content, label: 'comments', class: 'form-control' %>
  <%= f.submit :submit, class: 'btn btn-primary' %>
<% end %>